<!-- THIS IS THE PASSWORD RESET PAGE -->
<% provide(:title, "Forgot Password Helper") %>
<%= stylesheet_link_tag "static_pages.css" %>
<%= javascript_include_tag "static_pages.js" %>
<div class="center-form-wrapper" id="reset-email-form-wrapper">
  <% if !@link_sent %>
    <%= form_tag(controller: "users", action: "init_reset_password", method: "post", remote: true) do %>
      <%= text_field_tag 'email', '', placeholder: "Enter your email" %>
      <%= link_to "back to log in", root_path, data: { no_turbolink: true } %>
      <%= submit_tag 'Send me a link'%>
    <% end %>
  <% else %>
    <div class="after-send" id="email-sent-msg">
      <h3>You should receive a password reset link shortly.</h3>
      <%= link_to "back to log in", root_path, data: { no_turbolink: true } %>
    </div>
  <% end %>
</div>
