<!-- THIS IS THE LOGIN PAGE -->
<%= stylesheet_link_tag "_first_screen.css" %>
<%= stylesheet_link_tag "_login_form.css" %>
<%= javascript_include_tag "users.js" %>

<div class="content-wrapper">
  <div id="welcome-msg-area" class="huge-msg-area">
    <p>
      Join <b class="orange">Koolio</b> today,<br> for whatever reason.
    </p>
    <div class="explore-btn-area">
      <button class="explore-btn">I am <b>skeptical</b></button>
    </div>
  </div>
  <div class="login-form-wrapper">
    <div id="login-form-card" class="flipper <%= login_form_flip %>">
      <div id="signup-form-front" class="login-form flipper-front flip-dir1">
	<%= form_for(:user, url: users_path) do |f| %>
	  <%= f.text_field :username, :placeholder => "Your username"%>
	  <%= f.email_field :email, :placeholder => "Your e-mail" %>
	  <input type="email" placeholder="Confirm your e-mail" >
	  <%= f.password_field :password, :placeholder => "Password" %>
	  <%= f.submit "Join", :id => "submit-sign-up-btn", :class => "login-form-btn" %>
	  <span class="login-form-lower-left">
	    <input type="button" id="flip-to-login-btn" value="Log in" class="login-form-btn"><b class="login-form-msg">if you have account</b>
	  </span>
	<% end %>
      </div>
      <div id="login-form-back"class="login-form flipper-back flip-dir1">
	<h3>Welcome back.</h3>
	<%= form_for(:session, url: login_path) do |f| %>
	  <%= f.text_field :username, :placeholder => "Your username"%>
	  <%= f.password_field :password, :placeholder => "Password" %>
	  <%= f.submit "Log in", :id => "submit-login-btn", :class => "login-form-btn" %>
	  <span class="login-form-lower-left"><input type="button" id="flip-to-join-btn" value="Join" class="login-form-btn"><b class="login-form-msg">here</b></span>
	<% end %>
      </div>
    </div>
  </div>
</div>
