<% provide(:title, "#{@user.username}") %>
<%= stylesheet_link_tag "users.css" %>
<%= javascript_include_tag "masonry-3.3.2/dist/masonry.pkgd.min.js" %>
<%= render :partial => 'shared/nav' %>
<div class="add-card-btn-container">
  <button class="add-card-btn" id="add-card-btn"><i class="fa fa-plus"></i></button>
</div>
<div id="recommended-contents-wrapper">
  <%= render :partial => 'shared/recommended' %>
  <!-- info panels -->
  <div class="hidden" id="card-info-panel">
    <div class="like-comment">
      <div><i class="fa fa-heart"></i>2.1k</div>
      <div><i class="fa fa-comment"></i>30</div>
    </div>
    <div class="user-deck">
      <div class="left profile">
	<%= image_tag "default-profile.svg", :id => "nav-pic-img" %>
      </div>
      <div class="right">
	<div class="username">Harold Finch</div>
	<div class="decktitle">Test Dock</div>
      </div>
    </div>
    <div class="comment-box">
      <!-- Form for comment -->
      <form>
	<textarea placeholder="add comment"></textarea>
      </form>
    </div>
  </div>
  <div class="hidden" id="deck-cards-panel"></div>
</div>
<div class="home-card-editor-container" id="editor-container-home">
  <%= render :partial => 'shared/card_editor' %>
</div>
<!-- overlays -->
<div class="glass-overlay"></div>
<div class="dark-overlay hidden"></div>
