<% provide(:title, "#{@user.username}") %>
<% provide(:noindex, true) %>
<%= stylesheet_link_tag "users.css" %>
<%= javascript_include_tag "flexible_cards_handler.js" %>
<%= javascript_include_tag "user_home.js" %>
<%= javascript_include_tag "users.js" %>
<%= render :partial => 'shared/nav' %>
<div id="home-main-contents-wrapper">
  <div id="recommended-contents-wrapper">
    <% if @recommended.size > 0 %>
      <%= render :partial => 'shared/recommended' %>
      <!-- info panels -->
      <%= render :partial => 'shared/card_info_panels/like_comment_panel'%>
      <div class="hidden" id="deck-cards-panel">
	<%= render :partial => 'shared/card_info_panels/deck_cards_panel'%>
      </div>
      <!-- end info panels -->
    <% else %>
      <!-- NO CONTENT MESSAGE -->
      <%= render partial: "shared/no_content_msg" %>
      <!-- NO CONTENT MESSAGE -->
    <% end %>
  </div>
  <div id="home-side-contents-wrapper">
    <div class="side-content-part" id="list_mutual_followers">
      <h3>Mutual followers</h3>
      <div class="users-list"></div>
    </div>
  </div>
</div>
<% if @user.activated? %>
  <div class="add-card-btn-container">
    <button class="add-card-btn" id="add-card-btn"><i class="fa fa-plus"></i></button>
  </div>
  <div class="home-card-editor-container <%=subdomain(request)%>-subdomain" id="editor-container-home">
    <%= render :partial => 'shared/card_editor' %>
  </div>
<% end %>
<!-- overlays -->
<div class="glass-overlay" id="overlay-for-editor"></div>
<div class="dark-overlay hidden" id="overlay-for-focus-card"></div>
