<% provide(:title, "Reset password") %>
<% provide(:noindex, "yes") %>
<%# This is a users view, but it reuses assets from static_pages %>
<%= stylesheet_link_tag "static_pages.css" %>
<%= javascript_include_tag "static_pages.js" %>
<div class="center-form-wrapper" id="reset-password-form-wrapper">
  <%= form_tag(controller: "users", action: "exec_reset_password", method: "post", remote: true) do %>
    <%= hidden_field_tag "tk", "#{@token}"%>
    <%= hidden_field_tag "id", "#{@user.id}"%>
    <%= password_field_tag "password", '', placeholder: "Enter your password" %>
    <%= password_field_tag "re_password", '', placeholder: "Re-enter the same password" %>
    <%= submit_tag 'Reset password'%>
  <% end %>
</div>
