<%= stylesheet_link_tag "perfect-scrollbar/css/perfect-scrollbar.min.css" %>
<%= javascript_include_tag "perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" %>

<div class="card-wrapper">
  <div class="card flipper">
    <div class="card-front flipper-front flip-dir1">
      <%= card.front_content.html_safe %>
    </div>
    <div class="card-back flipper-back flip-dir1">
      <%= card.back_content.html_safe %>
    </div>
  </div>
  <div class="card-info-bar">
    <p>
      <%= link_to edit_deck_card_path(deck, card) do %>
	<i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to deck_card_path(deck, card), method: :delete do %>
	<i class="fa fa-ellipsis-v"></i>
      <% end %>
    </p>
    <% if !current_user.liked_card?(card) %>
      <%= render partial: "shared/like_card_button", locals: {deck: deck, card: card}%>
    <% else %>
      <%= render partial: "shared/unlike_card_button", locals: {deck: deck, card: card}%>
    <% end %>
  </div>
  <h1>Hey</h1>
</div>
<script>
 $(".card-front").perfectScrollbar({maxScrollbarLength: 10});
 $(".card-back").perfectScrollbar({maxScrollbarLength: 10});
</script>
