<%# This partial takes locals: category_class, card_id, card_front_type, card_front_content, card_back_type, card_back_content %>
<%# category_class is the additional class identifying the context of this card. For example, "home-card" is a category_class for
    cards showing on the home page %>
<% liked_class = "" %>
<% if current_user_liked_card %>
  <% liked_class = "liked" %>
<% elsif current_user_liked_card.nil? %>
  <% liked_class = "hidden" %>
<% end %>
<div class="<%="#{category_class}"%> flipper" id="card_<%="#{card_id}" %>">
  <div class="card-overlay no-flip hidden"></div>
  <div class="flipper-front flip-dir1 card-side <%="#{card_front_type}-type-side"%>" id="card_<%="#{card_id}"%>_front_<%="#{card_front_type}"%>">
    <!-- Deal with front -->
    <div class="card-<%="#{card_front_type}"%>">
      <%= render partial: "shared/card_content_templates/#{card_front_type}_side", locals: { content: card_front_content, recognize_link: true } %>
    </div>
    <!-- Info toggle -->
    <div class="info-toggle-wrapper">
      <div class="info-toggle toggle-off"><i class="fa fa-ellipsis-h no-flip"></i></div>
    </div>
    <!-- quick like btn -->
    <div class="quick-card-like-btn-wrapper">
      <div class="quick-card-like-btn <%="#{liked_class}"%>" id="quick_like_<%="#{card_id}"%>_front"><i class="fa fa-heart no-flip" id="quick_like_<%="#{card_id}"%>"></i></div>
    </div>
    <!-- zoom btn for image and video -->
    <% if card_front_type == "img" or card_front_type == "video" %>
      <div class="zoom-card-btn-wrapper">
	<div class="zoom-card-btn" id="zoom_<%="#{card_id}"%>_front_<%="#{card_front_type}"%>"><i class="fa fa-eye no-flip" aria-hidden="true"></i></div>
      </div>
    <% end %>
    <!-- End dealing with front -->
  </div>
  <div class="flipper-back flip-dir1 card-side <%="#{card_back_type}-type-side"%>" id="card_<%="#{card_id}"%>_back_<%="#{card_back_type}"%>">
    <!-- Deal with back -->
    <div class="card-<%="#{card_back_type}"%>">
      <%= render partial: "shared/card_content_templates/#{card_back_type}_side", locals: { content: card_back_content, recognize_link: true } %>
    </div>
    <!-- Info toggle -->
    <div class="info-toggle-wrapper">
      <div class="info-toggle"><i class="fa fa-ellipsis-h no-flip"></i></div>
    </div>
    <!-- quick like btn -->
    <div class="quick-card-like-btn-wrapper">
      <div class="quick-card-like-btn <%="#{liked_class}"%>" id="quick_like_<%="#{card_id}"%>_back"><i class="fa fa-heart no-flip"></i></div>
    </div>
    <!-- zoom btn for image and video -->
    <% if card_back_type == "img" or card_back_type == "video" %>
      <div class="zoom-card-btn-wrapper">
	<div class="zoom-card-btn" id="zoom_<%="#{card_id}"%>_back_<%="#{card_back_type}"%>"><i class="fa fa-eye no-flip" aria-hidden="true"></i></div>
      </div>
    <% end %>
    <!-- End dealing with back -->
  </div>
</div>
