<%= stylesheet_link_tag "_card_editor.css" %>
<div class="card-editor">
  <!-- form_for -->
  <%= form_for(@card, remote: true, authenticity_token: true) do |f| %>
    <!-- Hidden fields -->
    <%= hidden_field_tag 'deck_id', @deck.id %>
    <%= f.hidden_field :front_content %>
    <%= f.hidden_field :back_content %>
    <!-- End Hidden fields -->
    <!-- Flipper -->
    <div class="flipper" id="card-editor-flipper">
      <!-- FRONT (front of flipper) -->
      <div class="flipper-front flip-dir1" id="front-wrapper">
	<div class="editor-left-part" id="front-type-select-container">
	  <%= render partial: "shared/card_editors/type_select", locals: { side: "front" } %>
	</div>
	<div class="editor-left-part hidden" id="front-text-editor-container">
	  <!-- ########## FRONT TEXT EDITOR ########## -->
	  <%= render partial: "shared/card_editors/text_side_editor", locals: { side: "front", other_side: "back"} %>
	  <!-- ########## END FRONT TEXT EDITOR ########## -->
	</div>
	<div class="editor-left-part hidden" id="front-img-editor-container">
	  <!-- ########## FRONT IMAGE EDITOR ########## -->
	  <%= render partial: "shared/card_editors/img_side_editor", locals: { side: "front", other_side: "back"} %>
	  <!-- ########## END FRONT IMAGE EDITOR ########## -->
	</div>
	<div class="editor-left-part hidden" id="front-video-editor-container">
	</div>
      </div>
      <!-- END FRONT -->
      <!-- BACK (Back of flipper) -->
      <div class="flipper-back flip-dir1" id="back-wrapper">
	<div class="editor-left-part" id="back-type-select-container">
	  <%= render partial: "shared/card_editors/type_select", locals: { side: "back" } %>
	</div>
	<div class="editor-left-part hidden" id="back-text-editor-container">
	  <!-- ########## BACK TEXT EDITOR ########## -->
	  <%= render partial: "shared/card_editors/text_side_editor", locals: { side: "back", other_side: "front"} %>
	  <!-- ########## END BACK TEXT EDITOR ########## -->
	</div>
	<div class="editor-left-part hidden" id="back-img-editor-container">
	  <!-- ########## BACK IMAGE EDITOR ########## -->
	  <%= render partial: "shared/card_editors/img_side_editor", locals: { side: "back", other_side: "front"} %>
	  <!-- ########## END BACK IMAGE EDITOR ########## -->
	</div>
	<div class="editor-left-part hidden" id="back-video-editor-container">
	</div>
      </div>
    </div>
    <!-- END BACK -->
    <div class="editor-right-part" id="fixed-options-panel-container">
      <!-- ########## FIXED OPTIONS ########## -->
      <div class="fixed-options">
	<div class="fixed-options-btn-row">
	  <button class="side-select-btn side-editing" disabled id="front-side-btn" type="button">front</button>
	  <button class="side-select-btn" id="back-side-btn" type="button">back</button>
	</div>
	<div class="fixed-options-btn-row">
	  <button class="create-card-btn" id="create-card-btn" disabled type="submit">create card</button>
	</div>
      </div>
      <!-- ########## END FIXED OPTIONS ########## -->
    </div>
    <!-- /form -->
  <% end %>
  <!-- end -->

  <!-- When user uploads the image, this form submits. -->
  <!-- It only has hidden fields, which will be filled
       by Javascript -->
</div>
<%= javascript_include_tag "flip.js" %>
