<div class="comment slim-info" id="comment_<%="#{comment_id}"%>">
  <div class="left profile">
    <img class="comment-user-avatar" src="<%= "#{author.my_avatar!('front')}" %>" alt="FRONT">
  </div>
  <div class="right">
    <div class="comment_author_name">
      <%= link_to "#{author.username}", user_profile_path(author, data: { no_turbolink: true }) %>
    </div>
    <p class="comment_content""><%="#{content}"%></p>
    <% if logged_in? %>
      <div class="comment-likes">
	<% if comment_liked %>
	  <div class="like-comment-btn liked" id="comlk_<%="#{comment_id}"%>">Like</div>
	  <div class="n_comment_likes liked" id="comlkc_<%="#{comment_id}"%>"><%="#{n_likes}"%></div>
	<% else %>
          <div class="like-comment-btn" id="comlk_<%="#{comment_id}"%>">Like</div>
	  <div class="n_comment_likes" id="comlkc_<%="#{comment_id}"%>"><%="#{n_likes}"%></div>
	<% end %>
      </div>
    <% end %>
  </div>
</div>
