<!-- To make something flippable, use this partial -->
<div class="<%="#{item_class}"%>" flipper" id="<%="#{item_id}"%>">
  <div class="flipper-front flip-dir1 <%="#{item_side_class}"%>">
    <%="#{item_front_html}"%>
  </div>
  <div class="flipper-back flip-dir1 <%="#{item_side_class}"%>">
    <%="#{item_back_html}"%>
  </div>
</div>
