<nav>
  <div class="nav-wrapper">
    <div class="nav-container">
      <!-- Nav First Part -->
      <div class="nav-first-part">
	<div class="nav-logo">
	  <a href=""><h1>KOOLIO</h1></a>
	</div>
	<div class="nav-search-wrapper">
	  <form class="nav-search-form">
	    <input type="text" placeholder="Search on Koolio">
	  </form>
	</div>
      </div>
      <!-- Nav Second Part -->
      <div class="nav-second-part">
	<% if logged_in? %>
	  <div class="nav-option-btn nav-option-highlighted">
	    <%# Have not figured out how to prevent multiple event binding. So not using turbolink for now %>
	    <%= link_to current_user, data: { no_turbolink: true } do %>
	      <i class="fa fa-home"></i>
	    <% end %>
	  </div>
	  <div class="nav-option-btn">
	    <a href="#"><i class="fa fa-compass"></i></a>
	  </div>
	  <div class="nav-option-btn">
	    <a href="#"><i class="fa fa-inbox"></i></a>
	  </div>
	  <div class="nav-option-btn nav-profile-pic">
	    <a class="nav-pic" id="nav-pic">
	      <%= image_tag "default-profile.jpg", :id => "nav-pic-img" %>
	    </a>
	  </div>
	<% else %>
	  <div class="nav-option-btn nav-right-push-1 nav-option-sign-in">
	    <a href="<%= nav_signup_link %>" class="bold nav-signup nav-option-link" id="nav-signup-btn"><i class="fa fa-sign-in"></i></a>
	  </div>	  
	<% end %>
      </div>
      <!-- Nav Contents End -->
    </div>
    <% if logged_in? %>
      <div class="nav-dropdown hidden" id="profile-pic-dropdown">
	<ul>
	  <li>
	    <p class="nav-dropdown-bar">Signed in as <b><%= current_user.username %></b></p>
	  </li>
	  <li>
	    <%= link_to logout_path, method: :delete do %>
	      Logout<i class="fa fa-sign-out"></i>
	    <% end %>
	  </li>
	</ul>
      </div>
    <% end %>
  </div>
</nav>
