<nav>
  <div class="nav-wrapper">
    <div class="nav-container">
      <!-- Nav First Part -->
      <div class="nav-first-part">
	<div class="nav-logo">
	  <%= image_tag "tmp/logo.png" %>
	</div>
	<div class="nav-search-wrapper">
	  <%= form_tag "/search", method: "get", class: "nav-search-form", id: "nav-search" do %>
	    <input type="text" placeholder="Search on Koolio" id="nav-search-input">
	  <% end %>
	</div>
      </div>
      <!-- Nav Second Part -->
      <div class="nav-second-part">
	<% if logged_in? %>
	  <div class="nav-option-btn" id="nav-home-btn">
	    <%# Have not figured out how to prevent multiple event binding. So not using turbolink for now %>
	    <%= link_to current_user, data: { no_turbolink: true } do %>
	      <i class="fa fa-home"></i>
	    <% end %>
	  </div>
	  <div class="nav-option-btn" id="nav-explore-btn">
	    <%= link_to explore_path, data: { no_turbolink: true } do %>
	      <i class="fa fa-compass"></i>
	    <% end %>
	  </div>
	  <div class="nav-option-btn" id="nav-inbox-btn">
	    <a href="#"><i class="fa fa-inbox"></i></a>
	    <%= render partial: "shared/nav_inbox" %>
	  </div>
	  <div class="nav-username" id="nav-username">
	    <p><%= current_user.username %></p>
	    <%= render partial: "shared/nav_dropdown" %>
	  </div>
	<% else %>
	  <div class="nav-option-btn nav-right-push-1 nav-option-sign-in">
	    <a href="<%= nav_signup_link %>" class="bold nav-signup nav-option-link" id="nav-signup-btn"><i class="fa fa-sign-in"></i></a>
	  </div>	  
	<% end %>
      </div>
      <!-- Nav Contents End -->
    </div>
  </div>
</nav>
