<% @recommended.each do |content| %>
  <% if content.class.name == "Card" %>
    <% card = content %>
    <% card_front = JSON.parse(card.front_content) %>
    <% card_back = JSON.parse(card.back_content) %>
    <div class="home-card flipper" id="card_<%="#{card.id}" %>">
      <!-- Deal with front -->
      <div class="flipper-front flip-dir1 card-side <%="#{card_front['type']}-type-side"%>">
	<div id="card_<%="#{card.id}"%>_front_<%="#{card_front['type']}"%>" class="card-<%="#{card_front['type']}"%>">
	  <%= render partial: "shared/card_content_templates/#{card_front['type']}_side", locals: { content: card_front["content"] } %>
	</div>
	<!-- End dealing with front -->
      </div>
      <div class="flipper-back flip-dir1 card-side <%="#{card_back['type']}-type-side"%>">
	<!-- Deal with back -->
	<div id="card_<%="#{card.id}"%>_front_<%="#{card_back['type']}"%>" class="card-<%="#{card_back['type']}"%>">
	  <%= render partial: "shared/card_content_templates/#{card_back['type']}_side", locals: { content: card_back["content"] } %>
	</div>
	<!-- End dealing with back -->
      </div>
    </div>
  <% end %>
<% end %>
