<div class="setting-item flipper" id="<%="#{setting_for}"%>-setting">
  <div class="flipper-front flip-dir1 setting-item-side">
    <div class="setting-name"><h4><%="#{setting_name}"%></h4></div>
    <div class="setting-current-value"><%="#{current_value}".html_safe%></div>
    <button class="setting-action-btn setting-change-btn" id="change-<%="#{setting_for}"%>-btn">change</button>
  </div>
  <div class="flipper-back flip-dir1 setting-item-side">
    <%# form field for the item %>
    <div class="setting-name"><h4>change <%="#{setting_name}"%></h4></div>
    <div class="setting-fields">
      <%="#{setting_fields}".html_safe%>
    </div>
    <button class="setting-action-btn setting-cancel-btn" id="cancel-<%="#{setting_for}"%>-btn">cancel</button>
  </div>
</div>
