<div class="user-info-wrapper">
  <div class="user-info-profile">
    <a>
      <img class="user-avatar" src="<%= "#{@user.my_avatar!('front')}" %>" alt="FRONT">
    </a>
    <% if !current_user.owns_deck?(deck) %>
      <% if !current_user.following?(user) %>
	<%= render partial: "shared/follow_button", locals: {user: user} %>
      <% else %>
	<%= render partial: "shared/unfollow_button", locals: {user: user} %>
      <% end %>
    <% end %>
  </div>
  <div class="user-info-item">
    <a>
      <%= user.username %>
    </a>
  </div>
  <div class="user-info-short-stats">
    <a href="#">
      <strong><%= user.followers.count %></strong><br>
      <span>Followers</span>
    </a>
    <a href="#">
      <strong><%= user.following.count %></strong><br>
      <span>Following</span>
    </a>
    <a href="#">
      <strong><%= user.cards.count %></strong><br>
      <span>Cards</span>
    </a>
    <a href="#">
      <strong><%= user.decks.count %></strong><br>
      <span>Decks</span>
    </a>
  </div>    
  <div class=""></div>
</div>
