<div class="image-editor">
  <!-- START IMAGE EDITOR UPLOADER -->
  <div class="image-editor-uploader" id="<%="#{side}"%>-img-editor-uploader">
    <div class="image-uploader-wrapper">
      <!-- button class="image-uploader-half right-dash image-upload-type-btn"><i class="fa fa-upload"></i></button -->
      <label for="<%="#{side}"%>-side-img-file">
	<div class="image-uploader-half right-dash image-upload-type-btn">
	  <input type="file" id="<%="#{side}"%>-side-img-file" accept='image/png,image/jpeg' class="hidden">
	  <i class="fa fa-upload" id="upload-file-icon"></i> 
	</div>
      </label>
      <button class="image-uploader-half left-dash image-upload-type-btn" id="<%="#{side}"%>-side-img-link" type="button"><i class="fa fa-link"></i></button>
    </div>
    <div class="inner-editor-btn-row">
      <button class="inner-edit-back-btn" type="button" id="<%="#{side}"%>-img-edit-<%="#{other_side}"%>-btn">edit <%="#{other_side}"%></button>
      <button class="inner-change-type-btn" type="button" id="<%="#{side}"%>-img-change-type-btn">change type</button>
    </div>
    <div class="hidden" id="waiting">
      <%= image_tag "tmp/loading.gif" %>
    </div>
  </div>
  <!-- END IMAGE EDITOR UPLOADER -->
  <!-- START IMAGE EDITOR DISPLAY -->
  <div class="image-editor-display hidden" id="<%="#{side}"%>-img-editor-display">
    <div class="image-display-wrapper">
      <img id="<%="#{side}"%>-img-display" src="" alt="">
    </div>
    <div class="image-descp"> 
      <input type="text" id="<%="#{side}"%>-img-descp" placeholder="add a description" maxlength="150"> 
    </div>
    <div class="inner-editor-btn-row">
      <button class="inner-edit-back-btn" type="button" id="<%="#{side}"%>-img-edit-<%="#{other_side}"%>-btn">edit <%="#{other_side}"%></button>
      <button class="inner-change-type-btn" type="button" id="<%="#{side}"%>-img-change-type-btn">change type</button>
    </div>
  </div>
  <!-- END IMAGE EDITOR DISPLAY -->
  <!-- IMAGE LINK PASTE -->
  <div class="image-link-paste hidden" id="<%="#{side}"%>-img-link-paste">
    <input type="text" placeholder="enter your link here" id="<%="#{side}"%>-img-url">
    <p class="url-alert-msg hidden" id="<%="#{side}"%>-url-alert-msg">Ooops. Not an image.</p>
  </div>
</div>
