<div class="image-editor">
  <!-- START IMAGE EDITOR UPLOADER -->
  <div class="image-editor-uploader" id="<%="#{side}"%>-img-editor-uploader">
    <div class="image-uploader-wrapper">
      <!-- button class="image-uploader-half right-dash image-upload-type-btn"><i class="fa fa-upload"></i></button -->
      <label for="<%="#{side}"%>-side-img-file">
	<div class="image-uploader-half right-dash image-upload-type-btn">
	  <input type="file" id="<%="#{side}"%>-side-img-file" accept='image/png,image/jpeg,image/gif' class="hidden">
	  <i class="fa fa-upload" id="upload-file-icon"></i> 
	</div>
      </label>
      <button class="image-uploader-half left-dash image-upload-type-btn" id="<%="#{side}"%>-side-img-link" type="button"><i class="fa fa-link"></i></button>
    </div>
    <div class="inner-editor-btn-row">
      <button class="inner-edit-back-btn" type="button" id="<%="#{side}"%>-img-edit-<%="#{other_side}"%>-btn">edit <%="#{other_side}"%></button>
      <button class="inner-change-type-btn" type="button" id="<%="#{side}"%>-img-change-type-btn">change type</button>
    </div>
    <div class="hidden waiting" id="img_<%="#{side}"%>_waiting">
      <%= image_tag "tmp/loading.gif" %>
    </div>
  </div>
  <!-- END IMAGE EDITOR UPLOADER -->
  <!-- Display the uploaded image in a cropper -->
  <div class="image-editor-cropper hidden <%=subdomain(request)%>-subdomain" id="<%="#{side}"%>-img-editor-cropper">
    <div class="image-cropper-wrapper" id="<%="#{side}"%>-img-cropper-wrapper">
      <img id="<%="#{side}"%>-img-to-crop" src="" alt="your browser may not support FileReader API.">
    </div>
    <input type="hidden" name="crop_x" id="crop_x">
    <input type="hidden" name="crop_y" id="crop_y">
    <input type="hidden" name="crop_w" id="crop_w">
    <input type="hidden" name="crop_h" id="crop_h">
    <div class="image-cropper-btns">
      <button class="image-cropper-cancel" id="<%="#{side}"%>-img-cropper-cancel-btn" type="button">Cancel</button>
      <button class="image-cropper-confirm" id="<%="#{side}"%>-img-cropper-confirm-btn" type="button">OK</button>
    </div>
  </div>
  <!-- END CROPPER -->
  <!-- START IMAGE EDITOR DISPLAY -->
  <div class="image-editor-display hidden" id="<%="#{side}"%>-img-editor-display">
    <div class="image-display-wrapper">
      <img id="<%="#{side}"%>-img-display" src="" alt="">
    </div>
    <div class="image-descp"> 
      <input type="text" id="<%="#{side}"%>-img-descp" placeholder="add a description" maxlength="150"> 
    </div>
    <div class="inner-editor-btn-row">
      <button class="inner-edit-back-btn" type="button" id="<%="#{side}"%>-img-edit-<%="#{other_side}"%>-btn">edit <%="#{other_side}"%></button>
      <button class="inner-change-type-btn" type="button" id="<%="#{side}"%>-img-change-type-btn">change type</button>
      <button class="inner-confirm-btn hidden" type="button" id="<%="#{side}"%>-img-confirm-btn">confirm</button>
    </div>
  </div>
  <!-- END IMAGE EDITOR DISPLAY -->
  <!-- IMAGE LINK PASTE -->
  <div class="image-link-paste hidden" id="<%="#{side}"%>-img-link-paste">
    <input type="text" placeholder="enter your link here" id="<%="#{side}"%>-img-url">
    <p class="url-alert-msg hidden" id="<%="#{side}"%>-url-alert-msg">Ooops. Not an image.</p>
  </div>
</div>
