<div class="text-editor">
  <!-- f.text title -->
  <input type="text" id="<%="#{side}"%>-text-title" placeholder="Title">
  <!-- f.textarea -->
  <textarea id="<%="#{side}"%>-text-body" placeholder="What you want to share"></textarea>
  <div class="inner-editor-btn-row">
    <button class="inner-edit-back-btn" type="button" id="<%="#{side}"%>-text-edit-<%="#{other_side}"%>-btn">edit <%="#{other_side}"%></button>
    <button class="inner-change-type-btn" type="button" id="<%="#{side}"%>-text-change-type-btn">change type</button>
  </div>
</div>
