<% provide(:title, "Search Results") %>
<% provide(:noindex, "yes") %>
<%= stylesheet_link_tag "users.css" %>
<%= stylesheet_link_tag "search.css" %>
<%= javascript_include_tag "flexible_cards_handler.js" %>
<%= javascript_include_tag "search.js" %>
<%= render :partial => 'shared/nav' %>
<div id="search-results-container">
  <% @docs.each do |doc| %>
    <% searchable = doc.searchable %>
    <% if searchable.class.name == "Card" %>
      <% card = searchable %>
      <%# this card must be viewable by the current user %>
      <%= render_card(card, "home-card search-result-item") %>
    <% elsif searchable.class.name == "Deck" %>
      <% deck = searchable %>
      <%= render partial: "shared/deck", locals: { deck: deck, limit: 4, category_class: "search-result-item" } %>
    <% end %>
  <% end %>
  <!-- info panels -->
  <%= render :partial => 'shared/card_info_panels/like_comment_panel'%>
  <div class="hidden" id="deck-cards-panel">
    <%= render :partial => 'shared/card_info_panels/deck_cards_panel'%>
  </div>
  <!-- end info panels -->
</div>
<!-- overlays -->
<div class="dark-overlay hidden" id="overlay-for-focus-card"></div>
<script>
 $(document).ready(function() {
    $("#nav-search-input").val("<%= sanitize(@query) %>");
 });
</script>
