// Fill certain elements with the card info obtained
$("#n_likes").html(<%="#{@info[:n_likes]}"%>);
$("#n_comments").html(<%="#{@info[:n_comments]}"%>);

<% if @info[:liked_card] %>
  $("#n_likes").addClass("liked");
  $("#like-card-btn").addClass("liked");
<% else %>
  $("#n_likes").removeClass("liked");
  $("#like-card-btn").removeClass("liked");
<% end %>

$("#deck_author").html("<%= j link_to "#{@info[:author_name]}", user_profile_path(@info[:author_id]), data: { no_turbolink: true } %>");
$("#deck_title").html("<%="#{@info[:deck].title}"%>");
$("#more_cards_in_deck").html("<%= j render partial: "shared/deck", locals: { deck: @info[:deck], limit: 6 } %>");

<% if @info[:comments].length > 0 %>
  <% @info[:comments].each do |comment| %>
    $("#comment_list").append("<%= j render partial: "shared/comment", locals: { content: "#{comment.content}",
                                                                                 n_likes: "#{comment.likes}", 
                                                                                 author_name: "#{comment.user.username}", 
                                                                                 comment_id: "#{comment.id}",
                                                                                 comment_liked: current_user.liked_comment?(comment)}%>");
  <% end %>
<% else %>
  $("#comment_list").html("<p>No comments</p>");
<% end %>
