<% provide(:title, "A Deck of Cards") %>

<%= stylesheet_link_tag "decks.css" %>

<div class="container">
  <div class="main-content-wrapper">
    <div class="left-panel-wrapper">      
      <div class="deck-owner-info">
	<%= render partial: "shared/user_info", locals: {user: @deck.user, deck: @deck} %>
      </div>
      <div class="deck-tags">
	<h3>Tags</h3>
	<% if current_user.owns_deck?(@deck) %>
	  <a href="#" class="option-edit-tags"><i class="fa fa-pencil"></i></a>
	<% end %>
	<ul class="tags">
	  <li><a href="#">Tag1 good</a></li>
	  <li><a href="#">Tag2</a></li>
	  <li><a href="#">Tag3</a></li>
	  <li><a href="#">Tag4</a></li>
	</ul>
      </div>
    </div>
    <div class="center-content-wrapper">
      <div class="deck-show-header">
	<h1><%= @deck.title %></h1>
	<div class="deck-info-header">
	  <p><i class="fa fa-heart-o"></i> 34</p>
	  <p><i class="fa fa-square-o"></i> 5</p>
	</div>
	<% if current_user.owns_deck?(@deck) %>
	  <div class="deck-options">
	    <ul>
	      <li class="option-add-card">
		<%= link_to request.original_url + "/cards/new" do %>
		  <i class="fa fa-plus"></i>
		<% end %>
	      </li>
	      <li><a href="#"><i class="fa fa-pencil"></i></a></li>
	      <li><a href="#"><i class="fa fa-ellipsis-v"></i></a></li>
	    </ul>
	  </div>
	<% end %>
      </div>
      <div class="deck-description">
	<p>
	  <%= @deck.description %>
	</p>
      </div>
      <div class="cards-display-wrapper">
	<% if current_user.owns_deck?(@deck) %>
	  <div class="card-creating" id="card-creating-area">
	    <%= render partial: "shared/card_editor", locals: {deck: @deck} %>
	  </div>
	<% end %>
	<% @deck.cards.each do |card| %>
	  <%= render :partial => "shared/card", locals: {card: card} %>
	<% end %>
      </div>
    </div>
    <div class="right-panel-wrapper">
    </div>
  </div>
</div>
