<% provide(:title, "A Deck of Cards") %>

<%= stylesheet_link_tag "decks.css" %>

<div class="container">
  <div class="main-content-wrapper">
    <div class="left-panel-wrapper">      
      <div class="deck-owner-info">
	<%= render partial: "shared/user_info" %>
      </div>
      <div class="deck-tags">
	<h3>Tags</h3>
	<% if true #owns_deck(current_user) %>
	  <a href="#" class="option-edit-tags"><i class="fa fa-pencil"></i></a>
	<% end %>
	<ul class="tags">
	  <li><a href="#">Tag1 good</a></li>
	  <li><a href="#">Tag2</a></li>
	  <li><a href="#">Tag3</a></li>
	  <li><a href="#">Tag4</a></li>
	</ul>
      </div>
    </div>
    <div class="center-content-wrapper">
      <div class="deck-show-header">
	<h1>A Deck of Cards</h1>
	<div class="deck-info-header">
	  <p><i class="fa fa-heart-o"></i> 34</p>
	  <p><i class="fa fa-square-o"></i> 5</p>
	</div>
	<% if true #owns_deck(current_user) %>
	  <div class="deck-options">
	    <ul>
	      <li class="option-add-card"><a href="#"><i class="fa fa-plus"></i></a></li>
	      <li><a href="#"><i class="fa fa-pencil"></i></a></li>
	      <li><a href="#"><i class="fa fa-ellipsis-v"></i></a></li>
	    </ul>
	  </div>
	<% end %>
      </div>
      <div class="deck-description">
	<p>
	  This is a deck description. This is a demo deck, which does not contain anything useful. Its cards are all black-white, which is kind of dummy. But this is a pretty important deck an opens up possibilities
	</p>
      </div>
      <div class="cards-display-wrapper">
	<%= render partial: "shared/card"  %>
	<%= render partial: "shared/card"  %>
	<%= render partial: "shared/card"  %>
	<%= render partial: "shared/card"  %>
	<%= render partial: "shared/card"  %>
      </div>
    </div>
    <div class="right-panel-wrapper">
    </div>
  </div>
</div>
