<!DOCTYPE html>
<!--
.------..------..------..------..------..------.
|K.--. ||O.--. ||O.--. ||L.--. ||I.--. ||O.--. |
| :/\: || :/\: || :/\: || :/\: || (\/) || :/\: |
| :\/: || :\/: || :\/: || (__) || :\/: || :\/: |
| '--'K|| '--'O|| '--'O|| '--'L|| '--'I|| '--'O|
`------'`------'`------'`------'`------'`------' 
 -->
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "masonry-3.3.2/dist/masonry.pkgd.min.js" %>
    <%= javascript_include_tag "_nav.js" %>
    <%= javascript_include_tag "card.js" %>
    <%= javascript_include_tag "_card_editor.js" %>
    <%= javascript_include_tag "homepage_cards_handler.js" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="whole-wrapper">
      <%= yield %>
    </div>

  </body>
</html>
