<!DOCTYPE html>
<!--
.------..------..------..------..------..------.
|K.--. ||O.--. ||O.--. ||L.--. ||I.--. ||O.--. |
| :/\: || :/\: || :/\: || :/\: || (\/) || :/\: |
| :\/: || :\/: || :\/: || (__) || :\/: || :\/: |
| '--'K|| '--'O|| '--'O|| '--'L|| '--'I|| '--'O|
`------'`------'`------'`------'`------'`------' 
 -->
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="whole-wrapper">
      <div class="fl-alerts">
	<% if logged_in? && !current_user.activated? %>
	  <div class="fl-alert alert-warning no-fade">Please activated your account for full features</div>
	<% end %>
	<% flash.each do |key, value| %>
	  <div class="fl-alert alert-<%="#{key}"%>"><%="#{value}"%></div>
	<% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
